<div *ngIf="chat" class="chat-details">
  <button class="back-button" (click)="goBack()">Go back</button>
  <h1>{{ chat.caption }}</h1>
  <p class="credit">{{ chat.credit }}</p>
  <img [src]="chat.url" alt="Chat image" />
  <div class="messages">
    <h2>Messages</h2>
    <ul>
      <li *ngFor="let message of chat.messages">
        <strong>{{ message.user }}:</strong> {{ message.text }}
      </li>
    </ul>
  </div>
  <app-message-input (messageSent)="onMessageSent($event)"></app-message-input>
</div>
