<div class="wrapper">
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Email:</label>
      <input formControlName="email" id="email" type="email" />
      <div *ngIf="forgotPasswordForm.get('email')?.errors?.['invalidEmail']">
        L'email est invalide.
      </div>
    </div>
    <button type="submit">Réinitialiser le mot de passe</button>
    <div>
      <a [routerLink]="['/login']">Se connecter</a>
      <a [routerLink]="['/register']">S'inscrire</a>
    </div>
  </form>
</div>
